/* Global */

.container.theme-thiamsu {
    padding-left: 0;
    padding-right: 0;
    background-color: #f5f5f5;
}

.theme-thiamsu .row,
.theme-thiamsu .navbar {
    padding-left: 70px;
    padding-right: 70px;
}

.theme-thiamsu .row {
    margin-left: 0;
    margin-right: 0;
}

/* Navigation Bar */

.navbar-thiamsu a {
    color: #444444;
}

.navbar-item {
    /* .d-flex */
    display: flex;
    /* .align-items-center */
    align-items: center!important;

    margin-right: 15px;
    margin-left: 15px;
}

.navbar-item:last-child {
    margin-right: 0;
}

/* Navigation Bar - Title & Subtitle*/

.navbar-brand-title {
	font-size: 30px;
	font-weight: 500;
	letter-spacing: 1.7px;
    text-decoration: none;
    color: #444444;
}

.navbar-brand-subtitle {
	font-size: 14px;
	letter-spacing: 1.4px;
	color: #666666;
    margin-bottom: 0;
}

/* Navigation Bar - Chart Link*/

.navbar-chart-link {
	font-size: 16px;
	font-weight: 600;
	line-height: 1.75;
	letter-spacing: 1px;
}

/* Navigation Bar - Search Form */

#search-form .form-control,
#search-form .btn
{
    border: solid 1px #cccccc;
}

#search-form .btn-search > i
{
    width: 1em;
}

#search-form.focus .form-control,
#search-form.focus .btn,
#search-form.focus .dropdown-menu
{
    border: solid 1px #00ae7b;
}

#search-form.focus .form-control:not(:first-child),
#search-form.focus .input-group-btn:not(:first-child) .btn
{
    border-left: solid 1px #cccccc;
}

#search-form.focus .form-control:not(:last-child),
#search-form.focus .input-group-btn:not(:last-child) .btn
{
    border-right: solid 1px #cccccc;
}

#search-form.focus .btn-search-type
{
    background-color: white;
    color: black;
}

#search-form.focus .btn-search
{
    background-color: #00ae7b;
    color: white;
}

/* Navigation Bar - Login Button */

.btn-login,
.btn-login:hover
{
    border: solid 1px #00ae7b;
    background-color: #00ae7b;
    color: white !important;
}

/* Navigation Bar - Avatar */

.navbar .avatar {
    width: 48px;
    height: 48px;
    overflow: hidden;
    border-radius: 50%;
    margin-left: 10px;
}

/* Song List */

/* Song List - Controls */

.song-list-controls {
    align-items: center;
    justify-content: space-between;
    background-color: #eaeaea;
    font-size: 13px;
    height: 70px;
}

/* Song List - Controls - Serch Info. */

.song-list-controls .search-info {
	letter-spacing: 1px;
	color: #444444;
}

.song-list-controls .search-info .search-keyword {
    font-weight: 600;
    color: #00ae7b;
    margin-right: 1em;
}

/* Song List - Controls - Ordering Info. */

.song-list-controls .ordering-info {
    letter-spacing: 0.6px;
}

.song-list-controls .ordering-info label {
    margin-right: 21px;
}

.song-list-controls .ordering-info .btn,
.song-list-controls .ordering-info .dropdown-menu {
    font-size: 13px;
}

.song-list-controls .ordering-info .btn > span {
    width: 75px;
    display: inline-block;
    text-align: left;
}

.song-list-controls .ordering-info .dropdown-menu {
    min-width: 0;
}

/* Song List - Songs */

.song-list {
    margin-top: 60px;
    margin-bottom: calc(60px - 26px);
}

.song-list .song {
    margin-bottom: 26px;
}

/* Song List - Song - Info. Blocks */

.song .preview {
	width: 100%;
}

.song .title-link {
    color: #444444;
}

.song .original-title {
    font-size: 18px;
    font-weight: 600;
    line-height: 1.56;
	letter-spacing: 1px;
}

.song .tailo-title {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.25;
	letter-spacing: 1px;
}

.song .performer {
    margin-top: 10px;
    font-size: 13px;
	line-height: 1.85;
	color: #666666;
}

.song .translation-progress {
    width: 120px;
    height: 20px;
    position: relative;
    margin-top: 4px;
    background-color: #5fa490;
}

/* Song List - Song - Translation Progress */

.translation-progress > * {
    position: absolute;
}

.translation-progress .progress-bar {
	background-color: #24755d;
    height: 100%;
}

.translation-progress .description {
    padding-left: 6px;
    font-size: 13px;
	font-weight: 500;
	letter-spacing: 0.6px;
	color: #ffffff;
}

/* Song List - Pagination */

.song-list-pagination {
    background-color: #eaeaea;
    font-size: 13px;
    height: 100px;
}

.paginator {
    display: flex;
    list-style: none;
    margin: 0 auto;
}

.paginator a {
    color: #444444;
}

.paginator > li {
    margin: auto 7px;
}

.paginator .prev-page {
    margin-right: 33px;
}

.paginator .next-page {
    margin-left: 33px;
}

.paginator .page,
.paginator .placeholder {
    width: 1.5em;
    height: 1.5em;
    text-align: center;
    border-radius: 50%;
}

.paginator .page a {
    display: block;
}

.paginator .page.current {
    background-color: #00ae7b;
}

.paginator .page.current > a {
    color: white;
}

.paginator .page:not(.current):hover {
    background-color: #f5f5f5;
}
