/* Global */

.container.theme-thiamsu {
    padding-left: 0;
    padding-right: 0;
    background-color: #f5f5f5;
}

.theme-thiamsu .row {
    padding-left: 70px;
    padding-right: 70px;
    margin-left: 0;
    margin-right: 0;
}

/* Header */

.header {
    position: relative;
}

.header a {
    color: #444444;
}

/* Header - Navigation Bar */

.header nav {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: .5rem 1rem;
}

/* Header - Navigation Bar - Title & Subtitle */

.header-title {
	font-size: 30px;
	font-weight: 500;
	letter-spacing: 1.7px;
    text-decoration: none;
    color: #444444;
}

.header-subtitle {
	font-size: 14px;
	letter-spacing: 1.4px;
	color: #666666;
    margin-bottom: 0;
}

/* Navigation Bar - Login Button */

.btn-login,
.btn-login:hover
{
    border: solid 1px #00ae7b;
    background-color: #00ae7b;
    color: white !important;
}

/* Navigation Bar - Avatar */

.header .avatar {
    width: 48px;
    height: 48px;
    overflow: hidden;
    border-radius: 50%;
    margin-left: 10px;
}

/* Header - Navigation Bar - Secondary Part */

.nav-secondary {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 0;
    margin-top: 12px;
    margin-bottom: 8px;
}

@media (min-width: 992px) {
    .nav-secondary {
        width: auto;
        justify-content: flex-end;
        flex-grow: 1;
    }
}

/* Header - Navigation Bar - (Secondary) Chart Link */

.nav-chart {
    display: flex;
    align-items: center;
    min-width: 80px;
    margin-right: 30px;
}

.nav-chart > a {
	font-size: 16px;
	font-weight: 600;
	line-height: 1.75;
	letter-spacing: 1px;
    margin-left: 12px;
}

/* Header - Navigation Bar - (Secondary) Search Form */

#search-form {
    flex-grow: 1;
}

@media (min-width: 992px) {
    #search-form {
        flex-grow: initial;
    }
}

#search-form .form-control,
#search-form .btn
{
    border: solid 1px #cccccc;
}

#search-form .btn-search > i
{
    width: 1em;
}

#search-form.focus .form-control,
#search-form.focus .btn,
#search-form.focus .dropdown-menu
{
    border: solid 1px #00ae7b;
}

#search-form.focus .form-control:not(:first-child),
#search-form.focus .input-group-btn:not(:first-child) .btn
{
    border-left: solid 1px #cccccc;
}

#search-form.focus .form-control:not(:last-child),
#search-form.focus .input-group-btn:not(:last-child) .btn
{
    border-right: solid 1px #cccccc;
}

#search-form.focus .btn-search-type
{
    background-color: white;
    color: black;
}

#search-form.focus .btn-search
{
    background-color: #00ae7b;
    color: white;
}

/* Header - Headline */

.has-headline .header-title,
.has-headline .header-subtitle,
.has-headline .nav-chart > a {
	color: #ffffff !important;
}

.headline-background {
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.headline-background > img {
    width: calc(100% + 44.2px);
    height: calc(100% + 44.2px);
    filter: blur(22.1px);
    margin: -22.1px;
}

.headline {
    padding: 28px 0 40px;
}

.headline-label {
    font-size: 20px;
	font-weight: 600;
	letter-spacing: 1px;
	color: #00ae7b;
	margin-bottom: 20px;
}

.headline .title-link {
	color: #ffffff;
}

.headline .title {
    font-size: 30px;
	letter-spacing: 1px;
	color: #ffffff;
}

.headline .performer {
	margin-top: 10px;
    font-size: 13px;
	letter-spacing: 0.6px;
	color: #ffffff;
}

/* Song List */

/* Song List - Controls */

.song-list-controls {
    align-items: center;
    justify-content: space-between;
    background-color: #eaeaea;
    font-size: 13px;
    height: 70px;
}

/* Song List - Controls - Serch Info. */

.song-list-controls .search-info {
	letter-spacing: 1px;
	color: #444444;
}

.song-list-controls .search-info .search-keyword {
    font-weight: 600;
    color: #00ae7b;
    margin-right: 1em;
}

/* Song List - Controls - Ordering Info. */

.song-list-controls .ordering-info {
    letter-spacing: 0.6px;
}

.song-list-controls .ordering-info label {
    margin-right: 21px;
}

.song-list-controls .ordering-info .btn,
.song-list-controls .ordering-info .dropdown-menu {
    font-size: 13px;
}

.song-list-controls .ordering-info .btn > span {
    width: 75px;
    display: inline-block;
    text-align: left;
}

.song-list-controls .ordering-info .dropdown-menu {
    min-width: 0;
}

/* Song List - Songs */

.song-list {
    margin-top: 60px;
    margin-bottom: calc(60px - 26px);
}

.song-list .song {
    margin-bottom: 26px;
}

/* Song List - Song - Info. Blocks */

.song .preview {
	width: 100%;
}

.song .title-link {
    color: #444444;
}

.song .original-title {
    font-size: 18px;
    font-weight: 600;
    line-height: 1.56;
	letter-spacing: 1px;
}

.song .tailo-title {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.25;
	letter-spacing: 1px;
}

.song .performer {
    margin-top: 10px;
    font-size: 13px;
	line-height: 1.85;
	color: #666666;
}

.song .translation-progress {
    width: 120px;
    height: 20px;
    position: relative;
    margin-top: 4px;
    background-color: #5fa490;
}

/* Song List - Song - Translation Progress */

.translation-progress > * {
    position: absolute;
}

.translation-progress .progress-bar {
	background-color: #24755d;
    height: 100%;
}

.translation-progress .description {
    padding-left: 6px;
    font-size: 13px;
	font-weight: 500;
	letter-spacing: 0.6px;
	color: #ffffff;
}

/* Song List - Pagination */

.song-list-pagination {
    background-color: #eaeaea;
    font-size: 13px;
    height: 100px;
}

.paginator {
    display: flex;
    list-style: none;
    margin: 0 auto;
}

.paginator a {
    color: #444444;
}

.paginator > li {
    margin: auto 7px;
}

.paginator .prev-page {
    margin-right: 33px;
}

.paginator .next-page {
    margin-left: 33px;
}

.paginator .page,
.paginator .placeholder {
    width: 1.5em;
    height: 1.5em;
    text-align: center;
    border-radius: 50%;
}

.paginator .page a {
    display: block;
}

.paginator .page.current {
    background-color: #00ae7b;
}

.paginator .page.current > a {
    color: white;
}

.paginator .page:not(.current):hover {
    background-color: #f5f5f5;
}
