dj-database-url==0.4.2
django-debug-toolbar==1.9.1
django-dotenv==1.4.1
django-embed-video==1.1.2
django-grappelli==2.10.1
Django==2.1.5
gunicorn==19.7.1
psycopg2==2.7.7
social-auth-app-django==2.1.0
social-auth-core==1.7.0
Unidecode==0.4.21
whitenoise==3.3.1
