{% load static song_search %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% if ga_tracking_id %}
        {% include "thiamsu/ga.html" %}
    {% endif %}

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block page_title %}歌詞正字{% endblock %}</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="stylesheet" href="{% static "thiamsu/css/main.css" %}">
    <script src="{% static "thiamsu/js/search.js" %}"></script>

</head>
<body>
    <div class="container theme-thiamsu">

        <div class="header{% if headline is not None %} has-headline"{% endif %}">

            {# Background of Headline #}
            {% if headline is not None  %}
                <div class="headline-background">
                    <img src="{{ headline.cover_url }}">
                </div>
            {% endif %}

            {# Navigation Bar #}
            <nav class="row">

                {# Title & Subtitle #}
                <div>
                    <a class="header-title" href="/">歌詞正字</a>
                    <p class="header-subtitle">台語歌詞共同編修平台</p>
                </div>

                {# Chart Link & Search Form #}
                <div class="nav-secondary nav-block">
                    <div class="nav-chart">
                        {% if headline %}
                            <img src="{% static "thiamsu/img/ico-chart-w.png" %}"
                                 srcset="{% static "thiamsu/img/ico-chart-w@2x.png" %} 2x,
                                         {% static "thiamsu/img/ico-chart-w@3x.png" %} 3x">
                        {% else %}
                            <img src="{% static "thiamsu/img/ico-chart-b.png" %}"
                                 srcset="{% static "thiamsu/img/ico-chart-b@2x.png" %} 2x,
                                         {% static "thiamsu/img/ico-chart-b@3x.png" %} 3x">
                        {% endif %}
                        <a href="/chart">排行榜</a>
                    </div>

                    <form id="search-form" method="get" action="/search">
                        <div class="input-group">
                            <input id="search-text" name="keyword" class="form-control" type="text" placeholder="搜尋歌曲" value="{{ query|default_if_none:"" }}">
                            <input id="search-type" name="type" type="hidden" value="{% current_search_type %}">

                            <span class="input-group-btn">
                                <button id="search-type-select" class="btn btn-search-type dropdown-toggle" type="button" data-toggle="dropdown">{% current_search_type_label %}</button>
                                <div class="dropdown-menu dropdown-menu-right">
                                    {% all_search_types as search_types %}
                                    {% for st in search_types %}
                                        <a class="dropdown-item" data-value="{{ st }}">{% search_type_label_of st %}</a>
                                    {% endfor %}
                                </div>
                            </span>

                            <span class="input-group-btn">
                                <button class="btn btn-search" type="submit">
                                    <i class="material-icons align-middle">search</i>
                                </button>
                            </span>
                        </div>
                    </form>
                </div>

            </nav>

            {# Headline #}
            {% if headline is not None %}
                <div class="row headline">
                    <div class="col-4 col-lg-6">
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item"
                                    src="https://www.youtube.com/embed/{{ headline.youtube_id }}"
                                    referrerpolicy="no-referrer-when-downgrade"
                                    frameborder="0" allowfullscreen></iframe>
                        </div>
                    </div>
                    <div class="col-8 col-lg-6">
                        <div class="headline-label">最新消息</div>
                        <a href="{% url 'song_detail' id=headline.id %}" class="title-link">
                            <div class="title">{{ headline.original_title }}</div>
                            <div class="title">{{ headline.tailo_title }}</div>
                        </a>
                        <div class="performer">{{ headline.performer }}</div>
                    </div>
                </div>
            {% endif %}

        </div>

        {% block content %}{% endblock %}

        <div class="footer">
            <div class="container">
                <div class="d-flex flex-column">
                    <div class="d-flex justify-content-center footer-title">
                        歌詞正字
                    </div>
                    <div class="d-flex justify-content-center footer-info">
                        指導單位：<strong>教育部</strong>
                        ｜本網站由李江却台語文教基金會製作，為非營利及非商業性使用，僅供學習及促進台語用字一致化之教育功能。
                        ｜<a href="https://youtu.be/scE0OiUMt4M" target="_blank" class="text-white">
                            <u>網站介紹</u>
                        </a>
                        ｜<a href="{% url "policy_privacy" %}" target="_blank" class="text-white">
                            <u>隱私權政策</u>
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</body>
</html>
