{% extends 'thiamsu/base.html' %}

{% block content %}
<div>
    <p>{{ full_name }}</p>
    <p>{{ bg_color }}</p>
    <p>{{ user.date_joined|date:"Y/m/d" }} 加入</p>
    <p>已收藏：{{ favorite_songs|length }}</p>
    {% for song in favorite_songs %}
        <img src="{{ song.cover_url }}">
        <p>{{ song.original_title }}</p>
        <p>{{ song.tailo_title }}</p>
        <p>{{ song.performer }}</p>
    {% empty %}
        <p>真失禮，chhē無你beh查ê資料</p>
    {% endfor %}
    <p>已貢獻：{{ contributions|length }}</p>
    {% for song in contributions %}
        <img src="{{ song.cover_url }}">
        <p>{{ song.original_title }}</p>
        <p>{{ song.tailo_title }}</p>
        <p>{{ song.performer }}</p>
    {% empty %}
        <p>真失禮，chhē無你beh查ê資料</p>
    {% endfor %}
</div>
{% endblock %}
