{% extends 'thiamsu/base.html' %}
{% load static %}

{% block content %}
    <div class="row song-detail">

        <div class="left-panel">
            <div class="song-actions toolbar">
                {% if user.is_authenticated %}
                {% if is_favorite_song %}
                    <form action='/api/user/favorite_song/' method='post'>
                        {% csrf_token %}
                        {{ favorite_form }}
                        <button class="btn btn-unfavorite" type="submit">取消收藏</button>
                    </form>
                {% else %}
                    <form action='/api/user/favorite_song/' method='post'>
                        {% csrf_token %}
                        {{ favorite_form }}
                        <button class="btn btn-favorite" type="submit">收藏</button>
                    </form>
                {% endif %}
                {% else %}
                        <button class="btn btn-favorite" type="submit"
                                data-toggle="modal" data-target="#login-to-favorite"
                        >收藏</button>
                {% endif %}

                {# TODO!! #}
                <button class="btn">分享</button>
            </div>

            {% include 'thiamsu/_player_with_info.html' %}
        </div>

        <div class="right-panel">
            <div class="contribution toolbar">
                <div class="contributors">
                    <p>全羅編修人： {{ contributors.tailo }}</p>
                    <p>全漢編修人： {{ contributors.hanzi }}</p>
                </div>

                <div class="d-flex align-items-center">
                    {% if user.is_staff or user.is_superuser %}
                    <div class="lock-form-hint">編修鎖定</div>
                    <form id="song-lock-form" action='/song/{{ song.id }}/' method='post'>
                        {% csrf_token %}
                        {{ readonly_form }}
                        <button type="submit"
                                class="btn"
                                data-on="開啟"
                                data-off="鎖定" />
                    </form>
                    {% endif %}

                    <button type="button" class="btn btn-edit"
                            {% if song.readonly %}disabled{% endif %}
                            {% if user.is_authenticated %}
                                onclick="location.href='{% url 'song_edit' song.id %}'"
                            {% else %}
                                data-toggle="modal"
                                data-target="#login-to-edit"
                            {% endif %}
                    >鬥編修</button>
                </div>
            </div>

            <div class="lyric-wrapper">

                <input id="view-original-lyric" class="lyric-toggler" type="checkbox" checked disabled>
                <input id="view-tailo-lyric" class="lyric-toggler" type="radio" name="lyric-visibility"
                    {% if lyric_visiblity.tailo %}checked{% endif %}>
                <input id="view-hanzi-lyric" class="lyric-toggler" type="radio" name="lyric-visibility"
                    {% if lyric_visiblity.hanzi %}checked{% endif %}>
                <input id="view-hanlo-lyric" class="lyric-toggler" type="radio" name="lyric-visibility"
                    {% if lyric_visiblity.hanlo %}checked{% endif %}>

                <div class="lyric-visiblities">
                    <label class="show-original" for="view-original-lyric">原文</label>
                    <label class="show-tailo" for="view-tailo-lyric">全羅</label>
                    <label class="show-hanzi" for="view-hanzi-lyric">全漢</label>
                    <label class="show-hanlo" for="view-hanlo-lyric">漢羅</label>
                </div>

                <ul class="lyric">
                {% for lyric in lyrics %}
                    <li>
                        <p class="lyric-line lyric-line-original show-original">{{ lyric.original }}</p>
                        {% if lyric.original|length > 0 %}
                            <p class="lyric-line lyric-line-translated show-tailo">{{ lyric.tailo|default_if_none:"-" }}</p>
                            <p class="lyric-line lyric-line-translated show-hanzi">{{ lyric.hanzi|default_if_none:"-" }}</p>
                            <p class="lyric-line lyric-line-translated show-hanlo">{{ lyric.hanlo|default_if_none:"-" }}</p>
                        {% else %}
                            <p>&nbsp;</p>
                        {% endif %}
                    </li>
                {% endfor %}
                </ul>

            </div>

            {% if new_words|length > 0 %}
            <div class="new-words-wrapper">
                生難詞：
                <ul class="new-words">
                    {% for word in new_words %}
                    <li><a href="{{ word.reference_url }}" target="_blank">{{ word.content }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}

        </div>

    </div>


    {% if user.is_authenticated %}
        {% if user.is_staff or user.is_superuser %}
        <script>
            $('#song-lock-form').submit(function (e) {
                $('#song-lock-form button[type=submit]').attr('disabled', 'disabled')
                var cb = $('#id_readonly')[0];
                cb.checked = !cb.checked;
            })
        </script>
        {% endif %}
    {% else %}
        <div class="modal fade modal-simple" id="login-to-favorite">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        <img src="{% static "thiamsu/img/img-fav.png" %}"
                             srcset="{% static "thiamsu/img/img-fav@2x.png" %} 2x,
                                     {% static "thiamsu/img/img-fav@3x.png" %} 3x">
                        <h5>立即註冊即可將歌曲加入收藏</h5>
                        <a href="{% url 'social:begin' 'facebook' %}" role="button" class="btn btn-facebook-login">使用 Facebook 註冊/登入</button>
                        <a class="dismiss" href="#" data-dismiss="modal">下次再說</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade modal-simple" id="login-to-edit">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        <img src="{% static "thiamsu/img/img-edit-lyrics.png" %}"
                             srcset="{% static "thiamsu/img/img-edit-lyrics@2x.png" %} 2x,
                                     {% static "thiamsu/img/img-edit-lyrics@3x.png" %} 3x">
                        <h5>立即註冊即可一起編修歌詞</h5>
                        <a href="{% url 'social:begin' 'facebook' %}" role="button" class="btn btn-facebook-login">使用 Facebook 註冊/登入</button>
                        <a class="dismiss" href="#" data-dismiss="modal">下次再說</a>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}
